
body {
    background-color: #1f2d3b;
    font-family: 'Open Sans', sans-serif;
    color: rgba(36, 18, 28, 0.856);
    text-align: center;
    margin: 20px;
    padding: 0px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.p {
    flex-grow: 1;
}
.p-img {

}
.p-options {
    height: 94px;
    border-radius: 10px;
    border: 1px solid #020203;
    background-color: #201f1f;
}
.p-option{
    padding: 15px;
}
.p-option:hover {
    background-color: rgba(25, 70, 88, 0.493) ;
    border-radius: 20px;
    cursor: pointer;
}
.c {
    flex-grow: 1;
}
.c-option{
    padding: 15px;
}
.c-options {
    height: 94px;
    border-radius: 10px;
    border: 1px solid #020203;
    background-color: #201f1f;
}
.c-img {
 
}

.score-box{
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 30px;
    width: 300px;
    height: 600px;
    margin-top: 50px;
    border: 3px solid #020203;
    border-radius: 15px;
    text-align: center;
    background-color: #667575;
}

h1 {
    color: rgba(3, 3, 3, 0.863);
    font-size: 35px;
    font-weight: bold;
}
h2 {
    font-size: 150px;
}
h3 {
    font-size: 40px;
}